.background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(38, 70, 83, 0.9);
    display: flex;
    position: absolute;
  }

.aboutme{
    position: relative;
    left: 3vw;
}

.title{
    position: relative;
    font-size: 64px;
    color: white;
    text-shadow: 5px 5px rgba(38, 70, 83, 0.9);
}

.contentWrapper_about{
    position: relative;
    overflow-y: scroll;
    background-color: rgba(52, 58, 57, 1);
    top: 5vh;
    height: 82vh;
    width: 77vw;
    border-radius: 30px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

.descriptionVM{
    font-size: 36px;
    color: white;
}

.introduction{
    position: relative;
    /* background-color: black; */
    width: 73vw;
    display: flex;
    margin: 1vw 0;
}

.text{
    font-size: 20px;
    color: white;
    margin-left: 2vw;
    margin-bottom: 2vw;
}

.leftPic{
    width: 8vw;
    border-radius: 50%;
    margin-right: 2vw;
}

.intro_text{
    width: 63vw;
    font-size: 20px;
    color: white;
}

