.logotext {
  display: flex;
  color: white;
  font-size: 36px;
  text-shadow: 2px 3px rgba(38, 70, 83, 0.9);
  justify-content: center;
  align-items: center;
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout .pro-sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar {
  position: relative;
  height: 100vh;
}

#sidebar .pro-sidebar {
  width: 14vw;
  min-width: 270px;
}

#sidebar .pro-sidebar-inner {
  background-color: rgba(190, 154, 111, 1);
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: white;
  margin: 5px 0px;
  font-size: 24px;
  text-shadow: -1px 0 rgba(38, 70, 83, 0.9), 0 1px rgba(38, 70, 83, 0.9), 1px 0 rgba(38, 70, 83, 0.9), 0 -1px rgba(38, 70, 83, 0.9);
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  color: rgba(38, 70, 83, 0.9);
  font-size: 30px;
}
