.background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(38, 70, 83, 0.9);
    display: flex;
    position: absolute;
  }

.homepage{
    position: relative;
    left: 3vw;
}

.title{
    position: relative;
    font-size: 64px;
    color: white;
    text-shadow: 5px 5px rgba(38, 70, 83, 0.9);
}

.contentWrapper{
    position: relative;
    background-color: rgba(52, 58, 57, 1);
    top: 5vh;
    height: 82vh;
    width: 77vw;
    border-radius: 30px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

.heading{
    position: relative;
    /* background-color: black; */
    display: flex;
}

.genre{
    font-size: 36px;
    color: white;
}

.viewall{
    font-size: 36px;
    color: white;
    margin-left: auto;
}

.podcastcontainer{
    top: 1vw;
    position: relative;
    /* background-color: black; */
    display: flex;
}

.podcast{
    background-color: rgba(196, 196, 196, 1);
    margin: 2vw;
    height: 160px;
    width: 160px
}

